html, body {
    font-family: Arial, sans-serif;
    background: #fff;
}

/* --------------------- INDEX ----------------------- */

.login__box {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    border: 1px solid #2f7ccf;
}

.login__box .form__row {
    width: 100%;
    margin-top: 60px;
}

.login__box #login__button {
    height: 45px;
    background: #1976d2;
    cursor: pointer;
    outline: 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    margin-top: 45px;
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
}

.login__box input {
    border: 2px solid #1976d2;
    height: 30px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    text-align: center;
    outline: 0;
}

.login__box .login__head_box {
    background: #1976d2;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 35px;
    height: 40px;
    line-height: 40px;
    width: 45%;
}

.info--error {
    text-align: left;
    top: 0px;
    background: #e24a4a;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    padding-left: 35px;
    height: 40px;
    line-height: 40px;
    width: 45%;
}

.logo__box > img {
    position: absolute;
    width: 35px;
    right: 15px;
    top: 5px;
}

@media (min-width: 1000px) {
    .login__box {
        width: 450px;
        margin-top: 10%;
    }
}

/* --------------------- GROUPS ----------------------- */

.accordion > .item_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #1976d2;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.4s;
}

.accordion > .item_title.active {
    background: rgba(25, 118, 210, 0.8);
}

.accordion {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.accordion + .accordion {
    border-top: 0;
}

.accordion_trigger {
    cursor: pointer;
    transition: all 0.4s;
}

.accordion_body {
    line-height: 25px;
    padding: 4px 15px 4px 15px;
    background: #2f7ccf;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
}

.sub_menu_wrapper {
    line-height: 25px;
    padding: 5px 15px 5px 15px;
    background: #327ece;
    color: #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: .2s all ease-in;
}

.sub_menu_wrapper.active {
    background: #23384ccc !important;
}

.accordion_body > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sub_menu_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.accordion-enter-active {
    -webkit-animation: accordion 0.3s forwards;
    animation: accordion 0.3s forwards;
}

.accordion-leave-active {
    animation: accordion 0s 0s reverse;
}

.item__count {
    background: #fff;
    padding: 0 10px 0 10px;
    float: right;
    line-height: 50px;
    width: 105px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
    margin-right: -10px;
}

.item__name {
    width: 45%;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
}

.search__wrapper {
    width: 100%;
    height: 50px;
    background: #fff;
    position: fixed;
    z-index: 1;
}

.search__wrapper input {
    width: 90%;
    height: 40px;
    margin-top: 5px;
    margin-left: 5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font-size: 14px;
    border: 2px solid #efefef;
    padding: 0px 10px 0px 10px;
    -webkit-appearance: none;
    border-radius: 0;
}

.ac_weapper {
    position: relative;
    top: 60px;
    z-index: 15;
}

@-webkit-keyframes accordion {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes accordion {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* --------------------- SLICES  ----------------------- */

.slices__wrapper .slice_title {
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 5px;
    height: 50px;
    background: #1976d2;
    color: #fff;
    line-height: 50px;
    padding-left: 60px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #efefef;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.slices__wrapper {
    background: #2f7ccf;
    position: fixed;
    z-index: 37;
    width: 70%;
    height: calc(100% - 45px);
    overflow-y: scroll;
    top: 45px;
}

.slice__header {
    height: 45px;
    background: rgba(67, 67, 72, 0.75);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 30;
    width: 70%;
}

.slices__wrapper .slice_title .slice_count {
    position: absolute;
    left: 0px;
    background: #fff;
    color: #000;
    line-height: 50px;
    height: 50px;
    width: 45px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid #efefef;
}

.slices__wrapper .item__wrapper {
    width: 100%;
    height: 65px;
    position: relative;
    background: #1976d2;
    padding: 0px 10px 0px 10px;
    color: #fff;
    border-bottom: 2px solid #FFF;
}

.slices__wrapper .sub__wrapper {
    display: flex;
    flex-wrap: wrap;
    transition: .3s ease-in-out;
}

.slices__wrapper .item_count {
    background: #fff;
    color: #000;
    width: 100%;
    height: 15px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.slices__wrapper .sub_title {
    height: 15px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    margin-top: 5px;;
}

/* --------------------- CHARTS ----------------------- */

.charts_wrapper {
    padding-top: 85px;
    background: #fff;
}

.charts_wrapper .metric_title, .ac_weapper .metric_title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fff;
    position: fixed;
    z-index: 25;
    top: 0;
    border-bottom: 1px solid #ebebeb;
}

.charts_wrapper .back, .ac_weapper .back {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12.5px 21.7px 12.5px 0;
    border-color: transparent #1976d2 transparent transparent;
    top: 12px;
    left: 20px;
}

.metric_title > .item_count {
    position: absolute;
    right: 15px;
    height: 30px;
    background: #efefef;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    top: 10px;
}

.metric_title > .item_title {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 70px;
}

.slices__wrapper .slice_title.active {
    background: rgba(25, 118, 210, 0.8) !important;
}

.item__wrapper.active {
    background: rgb(42, 98, 146) !important;
}

.yesterday path {
    stroke-width: 1px;
}

.today path {
    stroke-width: 1px;
}

.yesterday {
    stroke: hsla(212, 49%, 56%, 0.48);
    fill: rgba(154, 162, 172, 0.45);
}

.today {
    stroke: hsla(212, 49%, 56%, 0.48);
    fill: #1976d2;
}

.highcharts-tooltip {
    filter: initial !important;
    stroke: #6c7175;
    font-size: 12px;
    line-height: 1.3;
    color: #53575d;
    padding: 0;
}

.highcharts-tooltip > span {
    padding: 0 3px;
    display: block;
}

.highcharts-tooltip > path {
    fill: #fff;
}

.highcharts-tooltip .highcharts-color-0 {
    color: rgb(154, 162, 172);
    background: rgb(154, 162, 172);
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
}

.highcharts-tooltip .highcharts-color-1 {
    color: rgb(103, 146, 196);
    background: rgb(103, 146, 196);
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
}

.highcharts-axis-labels > text {
    padding-left: 5px;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.float {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
    background-color: #1976d2;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px #999;
    box-shadow: 2px 2px 3px #999;
    line-height: 70px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 35;
}

.arrow {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    transform: rotate(135deg);
    -webkit-transition: border-width 150ms ease-in-out;
    transition: border-width 150ms ease-in-out;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.selected_items_wrapper {
    position: fixed;
    top: 51px;
    width: 100%;
    left: 0;
}

.item {
    display: flex;
    background: rgba(25, 118, 210, .6);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    width: 100%;
    padding-left: 25px;
    position: relative;
}

.slices_item__count {
    margin-left: 15px;
}

.slices_item__title {
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slices__list .item__name {
    width: 35%;
}

.chart__item {
    margin-bottom: 45px;
}

.non_clicked_wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 25;
    opacity: 0;
    -webkit-transform: matrix(1, 0, 0, 1, -950, 0);
    transform: matrix(1, 0, 0, 1, -950, 0);
    -webkit-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}

.non_clicked_wrapper.active {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.close__item > svg {
    position: absolute;
    width: 12px;
    height: 12px;
    fill: #fff;
    right: 40px;
    top: 11px;
}

.list-enter-active, .list-leave-active {
    transition: all .5s;
}

.list-enter, .list-leave-to {
    opacity: 0;
}

.main_wrappper {
    padding-top: 60px;
}
